/*? global clearing */
*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light: #f7f7f7;
  --dark: #222222;
  --gap-primary: 16px;
  --gap-secondary: 8px;
}

body {
  background-color: var(--dark);
  color: var(--light);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

nav {
  overflow: hidden;
  background-color: var(--dark);
}

nav a {
  float: left;
  display: block;
  color: var(--light);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

nav a:hover {
  background-color: #222222;
  color: white;
}

nav a.active {
  color: white;
}

nav .icon {
  display: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--gap-primary);
}

.btn {
  border: none;
  padding: var(--gap-secondary);
  background-color: var(--light);
  font-size: 18px;
  font-weight: 600;
  color: var(--dark);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.btn:hover {
  background-color: tomato;
  color: var(--light);
}

.glowingTitle {
  font-size: 2.2rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glowingTitle 1s ease-in-out infinite alternate;
}

.swiper {
  margin-left: initial;
}

.home__images {
  position: relative;
  text-align: center;
}

@media screen and (max-width: 600px) {
  nav a:not(:first-child) {
    display: none;
  }
  nav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  nav.responsive {
    position: relative;
  }
  nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  nav.responsive .active {
    text-align: left;
  }
  nav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
  .title-content {
    margin-top: -1rem;
  }
  .title {
    text-align: center;
    padding: 0 2rem;
  }
  .title-1 {
    margin-top: 0.8rem;
    text-align: center;
    font-weight: 500;
  }
  .btn-cta {
    background-color: #222222;
    color: white;
    border: 1px solid white;
    padding: 1rem 1.5rem;
    font-size: 0.8rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-left: 0.5rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  .btn-cta:hover {
    background-color: hsl(38, 61%, 73%);
    color: black;
    border: 1px solid black;
  }
  .star {
    margin-top: 3rem;
  }
  .img-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-left: 0.8rem;
  }
  .content-home {
    display: flex;
    margin-left: 2rem;
    gap: 1rem;
    margin-right: 2rem;
    margin-top: 5rem;
  }
  .btn-cta-1 {
    background-color: #222222;
    color: white;
    border: none;
    letter-spacing: 5px;
    padding: 1rem 1.5rem;
    font-size: 0.7rem;
    font-weight: bold;
    margin-left: -1.5rem;
  }
  .btn-cta-1:hover {
    color: hsl(38, 61%, 73%);
  }
  .text-1 {
    font-size: 0.8rem;
    font-weight: 400;
  }
  .content-about {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    margin-bottom: 3rem;
  }
  .bg-img-about {
    padding: 5rem;
    margin-left: -4rem;
    padding-bottom: 7rem;
    background-color: hsl(38, 61%, 73%);
  }
  .img-about {
    position: absolute;
    top: -1.5rem;
    margin-left: 3rem;
  }
  .content-text-about {
    display: block;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .border-about {
    border: 1px solid rgb(162, 162, 162);
    width: 50px;
    margin-bottom: 0.5rem;
  }
  .text1-about {
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  .text2-about {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }
  .text3-about {
    font-size: 1rem;
    text-align: center;
    font-weight: 300;
    padding: 0 2rem;
  }
  .content-featured {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
  }
  .content-card {
    display: block;
    text-align: center;
    padding: 2rem 2rem;
  }
  .card-item {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    margin-bottom: 1rem;
    border-radius: 5px;
    background-color: #3d3d3d;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  .img-featured {
    margin-left: 7rem;
  }
  .text-sale {
    background: red;
    width: 55px;
    position: absolute;
    transform: rotate(90deg);
    left: -15px;
    top: 3rem;
  }
  .text1-featured {
    margin: 1rem 0 0.8rem;
    font-size: 1rem;
    font-weight: 500;
  }
  .text2-featured {
    color: hsl(38, 61%, 73%);
    font-size: 1rem;
    font-weight: bold;
  }
  .content-card-product {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    padding: 2rem 0.9rem 2rem 0;
  }
  .card-item-product {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 0;
    margin-bottom: 1rem;
    margin-left: 15px;
    border-radius: 5px;
    background-color: #3d3d3d;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  .text1-product {
    margin: 2rem 0 0.8rem -0.9rem;
    font-size: 1rem;
    font-weight: 500;
  }
  .text1-product-j {
    margin: 2rem 0 0.8rem;
    font-size: 1rem;
    font-weight: 500;
  }
  .text2-product {
    color: hsl(38, 61%, 73%);
    font-size: 1rem;
    font-weight: bold;
    margin-left: -0.9rem;
  }
  .icon-shop {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 7px;
    background: #4d4d4d;
    color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  .icon-shop:hover {
    background-color: hsl(38, 61%, 73%);
    color: black;
  }
  .container-testi {
    margin-bottom: 3rem;
  }
  .content-testimonial {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 3rem;
  }
  .content-testi {
    padding: 1rem 2rem 5rem;
  }
  .icon-shop-testimoni {
    padding: 7px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: #3d3d3d;
    color: hsl(38, 61%, 73%);
  }
  .des-testi {
    font-size: 0.8rem;
    font-weight: 300;
    margin: 1rem 0 0.8rem;
  }
  .text-testi {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  .img-testi {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  .img-testi-content {
    display: flex;
  }
  .text-content-img {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
  }
  .text1-testi {
    color: hsl(38, 61%, 73%);
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 5px;
  }
  .text2-testi {
    font-size: 0.8rem;
    font-weight: 300;
  }
  .testimonial-swiper {
    margin-left: initial;
    margin-right: initial;
  }
  .swiper-button-next:after,
  .swiper-button-prev:after {
    content: "";
  }
  .swiper-button-next,
  .swiper-button-prev {
    top: initial;
    bottom: 2%;
    width: initial;
    height: initial;
    background-color: #3d3d3d;
    box-shadow: 0 4px 12px hsla(0, 0%, 20%, 0.1);
    padding: 0.25rem;
    font-size: 1.5rem;
    color: hsl(38, 61%, 73%);
  }

  .swiper-button-next {
    left: initial;
    right: 9rem;
  }
  .swiper-button-prev {
    right: initial;
    left: 9rem;
  }
  .content-new {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
  }
  .content-card-new {
    padding: 2rem 2rem;
  }
  .card-item-new {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 0;
    border-radius: 5px;
    background-color: #3d3d3d;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }

  .span-new {
    position: absolute;
    top: 25px;
    background: red;
    right: 15px;
    padding: 0 5px;
    font-size: 0.8rem;
    font-weight: bold;
  }

  .text1-new {
    margin: 1rem 0 0.8rem;
    font-size: 1rem;
    font-weight: 500;
    margin-right: 0.3rem;
  }
  .text2-new {
    color: hsl(38, 61%, 73%);
    font-size: 1rem;
    font-weight: bold;
    margin-right: 0.7rem;
  }
}

@media screen and (max-width: 421px) {
  .text-1 {
    font-size: 0.7rem;
    font-weight: 400;
  }
  .btn-cta-1 {
    background-color: #222222;
    color: white;
    border: none;
    letter-spacing: 5px;
    padding: 0.7rem 1.5rem;
    font-size: 0.7rem;
    font-weight: bold;
    margin-left: -1.5rem;
  }
  .img-featured {
    margin-left: 6.8rem;
  }
}
@media screen and (max-width: 390px) {
  .img-featured {
    margin-left: 5.8rem;
  }
}

@media screen and (min-width: 340px) and (max-width: 360px) {
  .img-featured {
    margin-left: 5rem;
  }
}

@-webkit-keyframes glowingTitle {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
